<h1> Sign Up</h1>
   
<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>

<%= form_for @owner, url: signup_path do |f| %>
  <%=f.label "Your Name" %><br/><%=f.text_field :name %><br/><br/>
  <%=f.label "Username"%><br/><%=f.text_field :username %><br/><br/>
  <%=f.label "COmpany Name"%><br/><%=f.text_field :company_name %><br/><br/>
  <%=f.label "Password"%><br/><%=f.password_field :password %><br/><br/>
  <%=f.label "Password Confirmation"%><br/><%=f.password_field :password_confirmation %><br/><br/>
  <%=f.submit "Sign Up"%>
<%end%>
