<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>
  <%if @item%>
    <h3><%=@item.name%></h3>
  <%end%>
<%= form_for(@supply, url: form_url_helper(@item)) do |f|%>
  <%=f.label "Quantity"%>
  <%=f.number_field(:quantity)%>
  <%=f.label "Units"%>
  <%=f.text_field(:unit)%>
  <%if !@item%>
    <%=f.label "Item"%>
     <%= f.hidden_field :owner_id, value: current_owner.id %>
  <%end%>
  <%=f.submit("Save")%>
<%end%>
