<!DOCTYPE html>
<html>
  <head>
    <title>Tactical Supply</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <%if current_owner %>
    <%=link_to "All Suppliers Items", items_path %><br/>
    <%=link_to "Add a New Item", new_item_path %><br/>
     <%=link_to "Search by Inventory Numbers", supplies_path %><br/>
    <%=link_to "View My Items", owner_items_path(current_owner) %><br/><br/>
    <%= button_to "Log Out", logout_path, method: :post %><br/><br/> 
 
  <%end%>


   <%= yield %>
  </body>
</html>
